@media screen and (min-width: 500px) {

  #menu {
      display: none;
  }


  .navigation.open,
  .navigation {
      display: flex;
  }

  nav ul li {
      flex: 1 1 100%;
  }
  .hero div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
      grid-template-columns: 2fr 1fr;
  }

  h1 {
      grid-column: 1 / 3;
  }
}
  